{% extends '../layout.html' %}
{% set bodyClass='embed' %}
{% block title %}My Page{% endblock %}

{% block content %}
<div class="admin">
    <h3>Growers</h3>
    <div id="grower-entity-container"></div>
</div>

<script id="grower-list-template" type="text/template">
<table class="grower-list entity-list">
    <thead><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>County</th>
        <th></th>
    </tr></thead>
    <tbody>
    {{#Items}}
    <tr data-id="{{ID}}">
        <td>{{ID}}</td>
        <td>{{Name}}</td>
        <td>{{Address}}</td>
        <td>{{Phone}}</td>
        <td>{{County}}</td>
        <td>
            <a href="/admin/locations/?grower={{ID}}" class="fa fa-globe entity-btn"></a>
            <button class="fa fa-edit entity-edit entity-btn"></button>
            <button class="fa fa-trash entity-remove entity-btn"></button>
        </td>
    </tr>
    {{/Items}}
    </tbody>
</table>
<button class="entity-add"><i class="fa fa-plus"></i>Add a Grower</button>
</script>

<script id="grower-form-template" type="text/template">
    <form>
        <div class="controls">
            <label>Name</label>
            <input type="text" name="Name" />
        </div>
        <div class="controls">
            <label>Phone</label>
            <input type="text" name="Phone" />
        </div>
        <div class="controls">
            <label>County</label>
            <input type="text" name="County" />
        </div>
        <div class="controls">
            <label>Address</label>
            <textarea name="Address" />
        </div>
        <div class="controls">
            <button type="submit">Save</button>
            <button class="entity-edit-cancel">cancel</button>
        </div>
    </form>
</script>

{% endblock %}

{% block scripts %}
    <script src="/scripts/admin.js"></script>

    <script>
        app.admin.forms.initCustom(
            '#grower-entity-container', 
            '#grower-list-template',
            '#grower-form-template',
            new app.collections.Growers()
        );
    </script>
{% endblock %}