{% extends '../layout.html' %}

{% block title %}My Page{% endblock %}

{% block content %}
<div class="admin">
    <h1>Rootes Admin Forms</h1>
    <a href="/admin/products" target="embed-editor">Products</a>
    <a href="/admin/growers" target="embed-editor">Growers</a>
    <a href="/admin/applicators" target="embed-editor">Applicators</a>

    <br />
    <br />
    <iframe src="/admin/products" name="embed-editor"></iframe>

</div>

{% endblock %}

{% block scripts %}
    <!--<script src="/scripts/admin.js"></script>-->
{% endblock %}